@charset "UTF-8";

body {
	background-image: url("../../img/main/main_bg.gif");
	background-size: 100%;
	color: white;
}

.main_container .section {
	height: 100vh;
	position: relative;
	text-align: center;
}

.main_container .section p {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.section+.section p {
	line-height: 300%;
	font-weight: 100;
}

.section+.section span[class^="fade_in_up_with_scrolling"] {
	position: relative;
	top: 80px;
	opacity: 0;
}

.icon_author {
	color: #fff;
	position: absolute;
	right: 19px;
	bottom: 12px;
	font-size: 15px;
	font-weight: 300;
}

.icon_author a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

@media ( min-width : 800px) {
	.section:nth-child(1) .title {
		font-size: 100px;
		line-height: 1.5;
	}
	.section .desc {
		font-size: 30px;
		line-height: 300%;
		font-weight: lighter;
	}
}

@media ( max-width : 800px) {
	.section .title {
		font-size: 70px;
	}
	.section .desc {
		font-size: 20px;
		line-height: 100%;
		font-weight: lighter;
	}
}