@charset "UTF-8";

h1 {
	font-weight: bold;
	font-size: 60px;
}
h2 {
	font-weight: bold;
	font-size: 40px;
}
p {
	font-size: 20px;
}

.fade_in_up_with_scrolling {
	position: relative;
	top: 80px;
	opacity: 0;
}

.templateS_mobile_slide, .templateS_mobile_img, .google_play_badge {
	filter: drop-shadow(0 16px 16px darkgrey);
}

.templateS_container {
	text-align: center;
	margin-bottom: 200px;
}

.templateS_bg_container {
	max-height: 500px;
	overflow: hidden;
}

.templateS_bg_img {
	width: 100%;
	height: auto;
	animation: fadeIn 2s;
    -moz-animation: fadeIn 2s; /* Firefox */
    -webkit-animation: fadeIn 2s; /* Safari and Chrome */
    -o-animation: fadeIn 2s; /* Opera */
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.templateS_mobile_slide {
	position: absolute;
	top: 280px;
	left: 10%;
	width: 300px;
	height: auto;
	border: 8px solid black;
	border-radius: 25px;
	z-index: 10px;
	overflow: hidden;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: trnaslate3d(0, 0, 0);
	animation: fadeInUp 1s;
	-webkit-animation: fadeInUp 1s; /* Safari and Chrome */
	-moz-animation: fadeInUp 1s; /* Firefox */
	-o-animation: fadeInUp 1s; /* Opera */
}
.templateS_android_frame {
	position: absolute;
	left: 0;
	width: 300px;
	z-index: -10px;
	background-color: #757575;
	background-image: url("/resources/img/portfolio/portfolioS/WILL-main.png");
	background-size: contain;
}
.templateS_mobile_slide_imgs {
	white-space: nowrap;
}
.templateS_mobile_slide_img {
	float: left;
	width: 300px;
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		top: 50%;
	}
	to {
		opacity: 1;
		top: 280px;
	}
}
@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		top: 50%;
	}
	to {
		opacity: 1;
		top: 280px;
	}
}
@-moz-keyframes fadeInUp {
	from {
		opacity: 0;
		top: 50%;
	}
	to {
		opacity: 1;
		top: 280px;
	}
}
@-o-keyframes fadeInUp {
	from {
		opacity: 0;
		top: 50%;
	}
	to {
		opacity: 1;
		top: 280px;
	}
}

.templateS_title {
	margin: 380px 70px 50px;
}

.templateS_info {
	margin: 0 70px 20px;
}

.templateS_screenshots {
	margin: 200px auto 150px;
}

.templateS_mobile_img {
	width: 19%;
	max-width: 300px;
	height: auto;
	margin: auto 2%;
	border: 5px solid black;
	border-radius: 20px;
}

.templateS_img_first_left {
	vertical-align: top;
	margin-top: 100px;
}

.templateS_img_first_right {
	vertical-align: top;
	margin-top: 0;
}

.templateS_img_second_left {
	vertical-align: top;
	margin-top: 220px;
}

.templateS_img_second_right {
	vertical-align: top;
	margin-top: 160px;
}

.templateS_mobile_bg {
	background-color: #757575;
	background-image: url("/resources/img/portfolio/portfolioS/android_frame.png");
	background-size: contain;
	filter: drop-shadow(0 0 0 transparent);
	box-shadow: 0 16px 32px 4px darkgrey;
}

.templateS_sub_title {
	margin-bottom: 50px;
}

.templateS_screenshot {
	border: none;
	border-radius: 0;
}

.store_link {
	margin: 50px auto 200px;
}

.google_play_badge {
	width: 18%;
	min-width: 200px;
}

@media ( max-width : 800px) {
	
	h1 {
		font-size: 48px;
	}
	h2 {
		font-size: 32px;
	}
	p {
		font-size: 20px;
	}

	.templateS_mobile_slide {
		position: relative;
		top: 100px;
		left: 50%;
		transform: translate(-50%, 0);
		animation: fadeInUp 1s;
		-webkit-animation: fadeInUp 1s; /* Safari and Chrome */
		-moz-animation: fadeInUp 1s; /* Firefox */
		-o-animation: fadeInUp 1s; /* Opera */
	}
	.templateS_mobile_img {
		width: 36%;
		height: auto;
		margin: auto 4%;
		border: 4px solid black;
		border-radius: 20px;
	}
	@keyframes fadeInUp {
		from {
			opacity: 0;
			top: 200px;
		}
		to {
			opacity: 1;
			top: 100px;
		}
	}
	@-webkit-keyframes fadeInUp {
		from {
			opacity: 0;
			top: 200px;
		}
		to {
			opacity: 1;
			top: 100px;
		}
	}
	@-moz-keyframes fadeInUp {
		from {
			opacity: 0;
			top: 200px;
		}
		to {
			opacity: 1;
			top: 100px;
		}
	}
	@-o-keyframes fadeInUp {
		from {
			opacity: 0;
			top: 200px;
		}
		to {
			opacity: 1;
			top: 100px;
		}
	}
	
	.templateS_title {
		margin: 300px 70px 50px;
	}
	
	.templateS_img_first_left {
		margin-top: 0;
	}
	
	.templateS_img_first_right {
		margin-top: 100px;
		margin-bottom: 60px;
	}
	
	.templateS_img_second_left {
		margin-top: 60px;
	}

	.templateS_img_second_right {
		margin-top: 0px;
	}

	.templateS_screenshot {
		width: 28%;
		height: auto;
		margin: auto 2%;
		border: none;
		border-radius: 0;
	}
	
}
