@charset "UTF-8";

h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: -7%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.templetJ_name{
	color : #825c8b;
	font-weight: bold;
	margin-left: 20%;
	padding-top: 2%;
}
.templeJ_subdesc{
	font-size: 200%;
	
}
templetJ_subtitle{
	line-height: 20%;
	margin-top: -10%;
}
.templetJ_desc{
	color: #808080;
}

.templetJ_txt{
	width: 80%;
}
.templetJ_overview:after{
	clear:both;
	display:block;
	content:'';
	width: 60%;
}

.templetJ_overview .templetJ_title{
	float: left;
	margin-left: 20%; 
	margin-right: 10px;
}
.templetJ_overview .templetJ_desc{
	float: right;
	margin-right: 20%;
	margin-left: 10px;
}

.templetJ_overview .templetJ_img{
	float: right;
	width: 60%;
	padding-top: -20px;
	margin-right: 10%;
}

.templetJ_architecture{
	background-color: #f2f2f2;
	margin-top: -1.4%;
}
.templetJ_archBox{
	text-align: center;
}
.templetJ_archImg{
	width: 80%;
}

.templetJ_vid{
	width: 100%;
	background-color: black;
	padding-top : 5%;
	padding-bottom: 5%;
	text-align: center;
}

.templetJ_vid iframe{
	width: 1000px;
	height: 562px;
	border: 0px;
	border-radius:15px;
}

.templetJ_captureContainer{
	position: absolute;
	width: 940px;
	height: auto;
	border: 5px solid black;
	border-radius: 25px;
	overflow: hidden;
	margin-top:5%;
	margin-left:20%;
}

.templateJ_slide_imgs {
	white-space: nowrap;
}

.templetJ_capture {
	float: left;
	width: 940px;
}

@media ( min-width : 1220px) and (max-width:1260px) {
	.templetJ_name{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_title{
	margin-left: 10%;
	}
	
	.templetJ_overview .templetJ_desc{
	margin-left:10%;
	margin-right: 10%;
	
	}
	.templetJ_vid iframe{
	width: 80%;
	height: 600px;
}
}

@media ( min-width : 1080px) and (max-width:1260px){
	.templetJ_captureContainer{
	margin-left: 10%;
	}
}

@media ( min-width : 940px) and (max-width:1069px) {

	.templetJ_name{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_title{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_desc{
	margin-left: 5%;
	margin-right:5%;
	}
	.templetJ_vid iframe{
	width: 80%;
	height: 400px;
}
	.templetJ_captureContainer{
	margin-left: 18%;
	width: 700px;
	}
	.templetJ_capture {
	width: 700px;
	}
}


@media ( min-width : 800px) and (max-width:939px) {

	.templetJ_name{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_title{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_desc{
	float:left;
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_img{
	width: 80%;
	padding-top: -20px;
	margin-left: 10%;
	margin-right: 10%;
	}
	.templetJ_vid iframe{
	width: 80%;
	height: 400px;
	}
	
	.templetJ_captureContainer{
	margin-left: 18%;
	width: 700px;
	}
	.templetJ_capture {
	width: 700px;
	}
}


@media ( max-width : 799px) {
	.templetJ_name{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_title{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_desc{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_img{
	width: 80%;
	padding-top: -20px;
	margin-left: 10%;
	margin-right: 10%;
	}
	.templetJ_vid iframe{
	width: 80%;
	height: 400px;
	}
	
	.templetJ_captureContainer{
	width: 400px;
	margin-left: 8%;
	}
	.templetJ_capture {
	width: 400px;
	}
}
