@charset "UTF-8";

.templateA_container {
	width: 100%;
}

.templateA_top_area {
	width: 100%;
	height: 350px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../../img/portfolio/portfolioA/top_bg_img.jpg");
	background-size: 100%;
	position: relative;
}

.templateA_title_area {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.templateA_top_area * {
	color: #d9d9d9;
}

.templateA_top_area .templateA_top_subtitle {
	font-weight: lighter;
	font-size: 25px;
	margin: 10px;
}

.templateA_top_area .templateA_top_title {
	font-size: 78px;
}

.templateA_section_content {
	overflow: hidden;
	position: relative;
}

.templateA_section_content>* {
	float: left;
}

.templateA_desc>p:nth-child(3) {
	line-height: 150%;
}

/* Responsible */
@media ( min-width : 800px) {
	.templateA_container>div:nth-child(4) .templateA_section_content {
		position: relative;
		border: 1px soid red;
	}
	.templateA_container>div:nth-child(4) .templateA_img {
		position: absolute;
		right: 0;
	}
	.templateA_section_content {
		margin: 200px auto;
	}
	.templateA_section_content {
		width: 800px;
		height: 345px;
	}
	.templateA_section .templateA_img {
		width: 70%;
	}
	.templateA_section .templateA_desc {
		width: 30%;
		margin-top: 40px;
	}
	.templateA_desc>p:nth-child(1) {
		font-size: 50px;
		margin-bottom: 10px;
	}
	.templateA_desc>p:nth-child(2) {
		font-size: 20px;
		margin-bottom: 30px;
	}
	.templateA_desc>p:nth-child(3) {
		font-size: 15px;
	}
}

@media ( max-width : 800px) {
	.templateA_section_content {
		margin: 70px auto;
	}
	.templateA_section_content {
		width: 80%;
	}
	.templateA_section .templateA_img {
		width: 100%;
	}
	.templateA_section .templateA_desc {
		width: 100%;
	}
	.templateA_section .templateA_desc>* {
		text-align: center;
	}
	.templateA_desc>p {
		margin-bottom: 15px;
	}
	.templateA_desc>p:nth-child(1) {
		font-size: 30px;
		margin-top: 10px;
	}
	.templateA_desc>p:nth-child(2) {
		font-size: 17px;
	}
	.templateA_desc>p:nth-child(3) {
		font-size: 14px;
	}
}