@charset "UTF-8";


.templetJ_name{
	color : #825c8b;
	font-weight: bold;
	margin-left: 20%;
	padding-top: 2%;
}
.templeJ_subdesc{
	font-size: 200%;
}
templetJ_subtitle{
	line-height: 20%;
}
.templetJ_desc{
	color: #808080;
}

.templetJ_txt{
	width: 80%;
}
.templetJ_overview:after{
	clear:both;
	display:block;
	content:'';
	width: 60%;
}

.templetJ_overview .templetJ_title{
	float: left;
	margin-left: 20%; 
	margin-right: 10px;
}
.templetJ_overview .templetJ_desc{
	float: right;
	margin-right: 20%;
	margin-left: 10px;
}

.templetJ_overview .templetJ_img{
	float: right;
	width: 60%;
	padding-top: -20px;
	margin-right: 10%;
}

.templetJ_vid{
	width: 100%;
	background-color: black;
	padding-top : 5%;
	padding-bottom: 5%;
	text-align: center;
}

.templetJ_vid iframe{
	width: 1000px;
	height: 562px;
	border: 0px;
	border-radius:15px;
}

.templetJ_img .templetJ_capture{
	width: 80%;
	margin: 10px auto;
	vertical-align:middle;
}

.templetJ_capture{
	display:none;
}


@media ( min-width : 1070px) and (max-width:1260px) {
	.templetJ_name{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_title{
	margin-left: 10%;
	}
	
	.templetJ_overview .templetJ_desc{
	margin-left:10%;
	margin-right: 10%;
	
	}
	.templetJ_vid iframe{
	width: 80%;
	height: 600px;
}
}

@media ( min-width : 940px) and (max-width:1069px) {

	.templetJ_name{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_title{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_desc{
	margin-left: 5%;
	margin-right:5%;
	}
	.templetJ_vid iframe{
	width: 80%;
	height: 400px;
}
}


@media ( min-width : 800px) and (max-width:939px) {

	.templetJ_name{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_title{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_desc{
	float:left;
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_img{
	width: 80%;
	padding-top: -20px;
	margin-left: 10%;
	margin-right: 10%;
	}
	.templetJ_vid iframe{
	width: 80%;
	height: 400px;
	}
}


@media ( max-width : 799px) {
	.templetJ_name{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_title{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_desc{
	margin-left: 10%;
	}
	.templetJ_overview .templetJ_img{
	width: 80%;
	padding-top: -20px;
	margin-left: 10%;
	margin-right: 10%;
	}
	.templetJ_vid iframe{
	width: 80%;
	height: 400px;
	}
}
